<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Collection</title>
  </head>
  <body>
    <%- include('partials/navbar', {page: '/lego/sets'}) %>

    <div class="container mx-auto my-5">
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Collection</h1>
          <p class="py-6">Details about the Collection</p>
        </div>
      </div>
    </div>

    <div class="overflow-x-auto ">
        <table class="table">
    <% sets.forEach(set => { %>
    <tr>
      <div class="avatar flex justify-center mt-3">
        <div class="w-24 rounded">
          <img src="<%= set.img_url %>" />
        </div>
      </div>
      <div class="flex justify-center">
      <h1 class="text-2xl font-bold"><%= set.name %></h1>
      </div>
      <div class="flex justify-center">
      <p>Theme: <%= set.theme %></p>
      </div>
        <div class="flex justify-center">
      <p>Year: <%= set.year %></p>
        </div>
        <div class="flex justify-center">
      <p>Num of parts: <%= set.num_parts %></p>
            </div>
      <div class="card-actions felx justify-center">
        <a class="btn btn-primary" href="/lego/sets/<%= set.set_num %>"
          >Details</a
        >
      </div>
    </tr>
    <% }) %>
    </table>
  </body>
</html>
